@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

.design {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: conic-gradient(from 212.41deg at 1.46% 106.22%, #28235F 0deg, #28235F 134.54deg, #6076C4 169.44deg, #C460A5 219.39deg, #28235F 360deg);
}

.design .glass {
    height: 90vh;
    width: 95vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 15px;
}

.design .glass .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 75px;
}


.design .title {
    font-family: 'avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;

    color: #FFFFFF;

    margin-bottom: 25px;
}

.design .subtitle {
    width: 600px;

    font-family: 'avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    color: #FFFFFF;

    margin-bottom: 50px;
}

.design .carousel {
    display: flex;
}

.design .carousel .image {
    object-fit: cover;

    width: 160px;
    height: 160px;

    margin-bottom: 10px;
}
