@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

.software {
    height: 92.5vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: #FFFFFF;
}

.software .title {
    font-family: 'avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;

    color: #3E3E3E;

    margin-bottom: 25px;
}

.software .subtitle {
    width: 600px;

    font-family: 'avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    color: #3E3E3E;

    margin-bottom: 50px;
}

.software .image {
    object-fit: cover;

    width: 160px;
    height: 160px;

    margin-bottom: 10px;
}

.software .polaroid-carousel {
    display: flex;
    flex-direction: row;
}
