@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

.software {
    height: 92.5vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: #EEEEEE;
}

.design {
    height: 92.5vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.software .title {
    font-family: 'avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;

    color: #3E3E3E;

    margin-bottom: 25px;
    margin-right: 100px;
}

.software .subtitle {
    width: 600px;

    font-family: 'avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    color: #3E3E3E;

    margin-bottom: 50px;
}

.software .carousel {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.software .carousel .pdf {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 500px;
    height: 650px;

    transition: transform .5s;
}

.software .carousel .pdf:hover {
    transform: scale(1.05);
    filter: brightness(97.5%);
}
