.dance {
    height: 420vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: conic-gradient(from 212.41deg at 1.46% 106.22%, #28235F 0deg, #28235F 134.54deg, #6076C4 169.44deg, #C460A5 219.39deg, #28235F 360deg);
}

.dance .glass {
    height: 410vh;
    width: 95vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 15px;
}

.backbutton {
    position: fixed;
    left: 150px;
    margin-top: 160px;
}

.dance .glass .afx {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    margin-top: 150px;
}

.afx .title {
    font-family: 'avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;

    color: #FFFFFF;

    margin-bottom: 25px;
}

.afx .subtitle {
    width: 600px;

    font-family: 'avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;

    margin-bottom: 25px;
}

.afx .branding {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    font-family: 'avenir';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    color: #FFFFFF;

    margin-top: 25px;
    margin-bottom: 25px;

}

.afx .image {
    width: 600px;
    object-fit: cover;

    margin-bottom: 50px;
}

.afx .examples {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    font-family: 'avenir';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    color: #FFFFFF;

    margin-bottom: 25px;

}

.afx .carousel {
    display: flex;
    flex-direction: row;

}

.afx .carousel .image {
    width: 290px;
    object-fit: cover;

    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.afx .carousel .apparel {
    width: 150px;
    object-fit: cover;

    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
