@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

.spotify {
    height: 450vh;

    display: flex;

    align-items: center;
    justify-content: flex-start;

    flex-direction: column;

    background-image: url('./../../assets/background.png');
    background-size: cover;
}

.spotify .navigation-menu {
    width: 250px;
    height: 500px;
    border-width: 1px;

    position: fixed;
    margin-top: 150px;
    right: 75px;
}

.spotify .text-container {
    width: 50vw;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.spotify .text-container .small-text {
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875em;
    line-height: 150%;
    color: #000000;

    margin-bottom: 15px;
}

.spotify .big-text {
    font-family: "lato";
    font-style: normal;
    font-weight: 800;
    font-size: 2.25em;
    
    color: #000000;

    margin-top: 7.5%;
    margin-bottom: 1.5em;
}

.spotify .medium-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 150%;
    color: #000000;

    margin-top: 15px;
    margin-bottom: 15px;
}


.spotify .links-container {
    width: 30vw; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.spotify .links-container .row {
    width: 80vw; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin-bottom: 0.875em;
}

.spotify .text-container .spacer {
    height: 15px;
}

.spotify .list-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875em;
    line-height: 150%;
    color: #000000;

    margin-left: 45px;
    margin-bottom: 5px;
}

.spotify .image {
    width: 50vw;
    object-fit: cover;

    margin-bottom: 50px;
}