.external-button {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    height: 50px;
    width: 200px;

    text-decoration: none;
    font-family: 'lato';
    font-weight: bold;

    color: black;

    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.external-button:hover {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    font-family: 'lato';
    font-weight: bold;
    text-decoration: none;

    height: 50px;
    width: 200px;

    color: #000000;

    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
}
