.homebutton {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    height: 50px;
    width: 150px;

    text-decoration: none;
    font-family: 'avenir';
    font-weight: bold;

    color: #FFFFFF;

    background: none;
    border-radius: 15px;

    margin-left: 25px;
}

.homebutton:hover {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    font-family: 'avenir';
    font-weight: bold;
    text-decoration: none;

    height: 50px;
    width: 150px;

    color: #CCCCCC;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;

    margin-left: 25px;
}
