@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

.about {
    height: 150vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;

    background-image: url('./../../assets/background.png');
    background-size: cover;
}

.about .text-container {
    margin-top: 10%;
    width: 45vw; 

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    margin-right: 10%;
}

.about .text-container .spacer {
    height: 25px;
}


.about .small-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875em;
    line-height: 150%;
    color: #000000;

    margin-bottom: 15px;
}

.about .medium-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 150%;
    color: #000000;

    margin-top: 15px;
    margin-bottom: 15px;
}

.about .list-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875em;
    line-height: 150%;
    color: #000000;

    margin-left: 5px;
    margin-bottom: 5px;
}

.about .big-text {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 2.25em;
    line-height: 150%;
    display: flex;
    align-items: center;

    color: #000000;

    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

.about .button-container {
    margin-top: 10%;
    width: 25vw; 

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about .button-container .row {
    display: flex;
    flex-direction: row;

    margin-bottom: 1.5em;
}