.sigmas {
    height: 300vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background: conic-gradient(from 212.41deg at 1.46% 106.22%, #28235F 0deg, #28235F 134.54deg, #6076C4 169.44deg, #C460A5 219.39deg, #28235F 360deg);
}

.sigmas .glass {
    height: 290vh;
    width: 95vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 15px;
}

.sigmas .glass .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 150px;
}

.sigmas .title {
    font-family: 'avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;

    color: #FFFFFF;

    margin-bottom: 25px;
}

.sigmas .subtitle {
    width: 600px;

    font-family: 'avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;

    margin-bottom: 50px;
}

.sigmas .branding {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    font-family: 'avenir';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    color: #FFFFFF;

    margin-bottom: 25px;

}

.sigmas .image {
    width: 600px;
    object-fit: cover;

    margin-bottom: 50px;
}

.sigmas .examples {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    font-family: 'avenir';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    color: #FFFFFF;

    margin-bottom: 25px;

}

.sigmas .carousel {
    display: flex;
    flex-direction: row;

}

.sigmas .carousel .image {
    width: 290px;
    object-fit: cover;

    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.sigmas .carousel .rectangle {
    width: 600px;
    object-fit: fill;

    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
