@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

.tigertalk {
    height: 100vh;

    display: flex;

    align-items: center;
    justify-content: flex-start;

    flex-direction: column;

    background-image: url('./../../assets/background.png');
    background-size: cover;
}


.tigertalk .text-container {
    width: 50vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.tigertalk .text-container .small-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875em;
    line-height: 150%;
    color: #000000;

    margin-bottom: 15px;
}

.tigertalk .text-container .big-text {
    font-family: "lato";
    font-style: normal;
    font-weight: 800;
    font-size: 2.25em;
    
    color: #000000;

    margin-top: 0.3125em;
    margin-bottom: 1.5em;
}


.tigertalk .links-container {
    width: 30vw; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tigertalk .links-container .row {
    width: 80vw; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin-bottom: 0.875em;
}

.tigertalk .text-container .spacer {
    height: 15px;
}