.NavigationBar {
    height: 7.5vh;

    display: flex;
    justify-content: flex-end;
    background: #DDDDDD;
}

.NavigationBar-Left {
    display: flex;
    flex: 1;
}

.NavigationBar-Right {
    display: flex;
    justify-content: flex-end;
    /* margin-right: 10px;*/
}

.Header-margin {
    height: 10px;
}
