.onlo {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 92.5vh;
    background-color: #EEEEEE;
}

.onlo .title {
    font-family: 'avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;

    color: #3E3E3E;

    margin-bottom: 25px;
}

.onlo .subtitle {
    width: 600px;

    font-family: 'avenir';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    color: #3E3E3E;

    margin-bottom: 15px;
}
